@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  /* padding: 120px 24px 160px 24px; */
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

@media screen and (max-width: 740px) {
  .main {
    padding: 0;
  }
  .app {
    @apply px-[20px] py-[50px];
  }
  
 
  .boxModal{
    padding: 20px!important;
    margin: 20px;
    border-radius: 10px;
    min-height: calc(100vh / 2)!important;
  }

  .cardWrapper{
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .card-saldo {
    width: 100%!important;
  }

  .card{
    margin: 0px!important;
    width:calc(50% - 5px);
  
  }

  .card p{
    font-size: 1.3rem!important;
  
  }
  
  .card h2{
 
    font-size: 0.7em;
  }
}

/* Tailwind Styles */

.app {
  @apply relative mx-auto z-10 flex justify-center lg:items-center md:items-center flex-col lg:max-w-7xl  lg:px-6;
}


.MuiDataGrid-columnHeaderTitle{
  font-weight: bold!important;
}

.MuiDataGrid-columnHeader{
  background-color: rgb(247, 247, 247);
}


h1{
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 10px;
}

.h2Card {
  font-weight: bold;
  margin: 0!important;
}

.cardWrapper{
  display: flex;
  align-items: stretch;
  width: auto;
  gap: 10px;
}

.card{
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 5px;
  padding: 20px!important;
  margin-bottom: 30px;
  left: 0px;
  min-width: calc((60% - 10px) / 2);
}

.card:first-child{
  min-width: 40%;
}

.card p{
  font-size: 1.5em;
  font-weight: 700;
}

.card h2{
  font-weight: 400;
  font-size: 0.7em;
}

 .card-saldo{
  background-color: white;
 }

.header-tabla{
  display: flex;
  align-items:center;
  justify-content: space-between;

}

.button-wrap{
  display: flex;
  gap: 5px;
}


.accion-boton{
  padding: 5px 20px;
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 5px;
  font-size: 0.8em;
}

.modal-action{
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  
  background-color: rgba(0, 0, 0, 0.308);
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxModal{
  position: relative;
  padding: 3rem;
  background-color: white; 
  width: 900px;
  gap: 10px;
 
}

.closeModal{
  position: absolute!important;
  top: 0;
  right: 0;
  border: none;
  padding: 20px;
}